.writeNote {
	padding: 20px 80px;
	font-family: 'Cormorant Garamond', serif;
	font-weight: bold;
	font-size: 20px;
}

.NoteForm button {
	padding: 20px;
	color: #fff;
	background: #402f30;
	border: none;
	font-family: 'Cormorant Garamond', serif;
	/*font-weight: bold;*/
	font-size: 20px;
}

.NoteForm button:hover {
	background-color: #8f4a6a;
}